@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  color: aliceblue;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(43, 17, 138) 39%, rgba(2,0,5,1) 100%);
}

.logo {
  width: 3rem;
}
.card {
  background-color: rgba(31, 4, 25, 0.318);
  align-content: center;
  text-align: center;
  border-radius: 1rem;
  margin: .5rem;
}
.card-body {
  border-radius: 1rem;
  background: linear-gradient(90deg, rgba(156, 251, 253, 0.836) 0%, rgba(255, 251, 127, 0.784) 39%, rgba(255, 213, 153, 0.917) 100%);
}
.card-text-games {
  font-size: 1.5rem;
  color: rgb(225, 241, 241);
}
.bubbleAttack {
  border-radius: 1rem;
}

.navbar {
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background: rgba(30, 157, 171, 0.722);
  font-size: 1.2rem;
  color: rgb(251, 253, 254);
  box-shadow: .5em .5em 1em rgba(0, 0, 0, 0.351);
}
.navbar-brand {
  font-family: Jost;
  font-size: 1.5rem;
  margin-left: 1rem;
  color: #f8ffaa;
}

.nav {
  align-items: end;
  margin-left: 6rem;
}
.nav-item {
  font-size: 1.3rem;
  
  &:hover {
    color: greenyellow;
  }
  &:active {
    background-color: aliceblue;
  }
}


.btn {
  box-shadow: -.1rem .1rem .8rem .2rem rgba(220, 78, 49, 0.214);
  &:hover {
    background-color: rgb(92, 101, 50);
  }
}

.cool-phrase {
  margin: 2rem;
  font-size: 2rem;
  font-family: Lato;
  text-align: center;
  color: antiquewhite;
}
.page-title {
  text-align: center;
  font-size: 5rem;
  margin: 2rem;
  font-family: Silkscreen;
  text-shadow: .5rem 1rem 1rem rgba(0, 0, 0, 0.851);
  color: #e1c1ff;
}
.name-title{
  margin: 3rem;
  font-size: 5rem;
  text-align: center;
  font-family: Jost;
  color: #f8ffaa;
  text-shadow: .5rem 1rem 1rem rgba(0, 0, 0, 0.798);
}
.card-img-top {
  border-radius: 1rem;
  margin-top: 2rem;
}
.spiderImg {
  border-radius: 5rem;
  width: 20rem;
  box-shadow: .5rem 1rem 1rem rgba(0, 0, 0, 0.295);
}
.jammer {
  width: min-content;
}


.container-apps {
  width: max-content;
}
.game-container{
  color: #e1c1ff;
  align-self: center;
}
.title-container {
  margin-bottom: 4rem;
  
}

.pictures {
  border-radius: 1rem;
  margin: 2px;
}
.resume {
  font-size: 1.5rem;
  color: #e1c1ff;
}
.card-title {
  font-size: 2rem;
  margin: 1rem;
  font-family: Lato;
  color: #f8ffaa;
}
.col {
  margin: 1rem;
}
footer{
  background-color: #002a38;
  font-family: Lato;
  border-radius: 5px;
  align-content: center;
  
}

footer li {
  display: inline;
}
footer a {
  color: #f8ffaa;
  text-decoration: none;
  margin: 2rem;
}
.logo-big {
  width: 5rem;
}

footer ul{
  text-align: center;
  margin: 2rem;
  list-style: none;
}

.container {
  text-align: center;
}











