@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  color: aliceblue;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(43, 17, 138) 39%, rgba(2,0,5,1) 100%);
}

.logo {
  width: 3rem;
}
.card {
  background-color: rgba(31, 4, 25, 0.318);
  align-content: center;
  text-align: center;
  border-radius: 1rem;
  margin: .5rem;
}
.card-body {
  border-radius: 1rem;
  background: linear-gradient(90deg, rgba(156, 251, 253, 0.836) 0%, rgba(255, 251, 127, 0.784) 39%, rgba(255, 213, 153, 0.917) 100%);
}
.card-text-games {
  font-size: 1.5rem;
  color: rgb(10, 11, 11);
}
.bubbleAttack {
  border-radius: 1rem;
}

.navbar {
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background: rgba(30, 157, 171, 0.367);
  font-size: 1.2rem;
  box-shadow: .5em .5em 1em rgba(0, 0, 0, 0.351);
}

.nav {
  align-items: end;
  margin-left: 6rem;
}
.nav-item {
  font-size: 1.3rem;
}

.btn {
  text-align: center;
  border-radius: 1.5rem;
  font-size: 1.8rem;
  margin-bottom: 2px;
  color: aliceblue;
  background-color: rgb(90, 91, 83);
  box-shadow: .1rem .1rem .8rem .5rem rgba(249, 22, 22, 0.475);

  &:hover {
    background-color: rgb(242, 254, 185);
  }
}

.cool-phrase {
  font-size: 2rem;
  font-family: Lato;
  text-align: center;
}
.page-title {
  text-align: center;
  font-size: 3rem;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-img-top {
  border-radius: 1rem;
}
.spiderImg {
  border-radius: 5rem;
  width: 20rem;
  box-shadow: .5rem 1rem 1rem rgba(0, 0, 0, 0.295);
}
.jammer {
  width: min-content;
}

.container {
  align-content: center;
  text-align: center;

}
.container-apps {
  width: max-content;
}
.pictures {
  border-radius: 1rem;
  margin: 2px;
}
.resume {
  font-size: 1.3rem;
  color: #e1c1ff;
}






